.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.sign-input { margin-bottom: 10px; }

.check-button {
  position: relative;
  left: 16px;
}

.stat { display:inline-block; }

.nav-link {
  position: relative;
  left: 10px;
  font-size: 18px;
  cursor: pointer;
}

.glyphicon {
  color: red;
  cursor: pointer;
}

.friends-panel {
  cursor: pointer;
}

#signin-img {
  position: relative;
  left: 2px;
}

#nav-logo {
  position: relative;
  top: 9px;
}

#beer-search { width:430px !important; }

#beer-image {
  max-width: 100px;
  max-width: 100px;
}

#beer-name {
  font-size: 18px;
  color: rgb(204, 0, 0);
}

#recent-style {
  color: black;
  font-size: 15px;
}

#login-message { color: red; }
#search-panel { background-color: rgb(242, 242, 242); }
#pie-chart { height: 500px; }
#bar-chart { height: 500px; }
#date-recent { border-left: 1px solid grey; }
#rating-recent { border-right: 1px solid grey; }
#no-account { margin-top: 20px }
