 #beer-search {
   position: relative;
   top: 10px;
   width:430px !important;
 }

 #submit {
   position: relative;
   top: 10px;
 }

 #search-panel { background-color: rgb(255, 255, 230); }

 #beer-image {
   max-width: 100px;
   max-width: 100px;
 }

 #beer-name {
   font-size: 18px;
   color: rgb(204, 0, 0);
 }

.check-button {
  position: relative;
  top: 5px;
  max-width: 100px;
  max-height: 100px;
}

#profile-link {
  position: relative;
  top: 12px;
  left: 10px;
  font-size: 20px;
}

.stat {
  display:inline-block;
}

#date-recent { border-left: 1px solid grey; }

#rating-recent { border-right: 1px solid grey; }

#box-shadow {  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
